@font-face{
    font-family:MilkyNice-Clean;
    src:url(../asssests/fonts/MilkyNice-Clean.otf)
}

.header{
    border: 3px solid black;
    background-color:#D2D2D2;
    height: 70px;
}
#panda-box{
    margin-right: 100px;
}

#option_B{
    float: right;  
    margin-right: 20px;
    background-color: #D2D2D2;
    margin-top: 17px;
   
}
#option{
    width: 35px;
 

}

.search{
    width: 800px;
    border: 1px solid black;
    margin: auto;
}
body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.search input[type=text] {
    padding: 10px;
    font-size:20px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ED5050;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: 1px solid black;
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #ED5050;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
#pf_name{
    float: right;
    margin-right: 10px;
}

#name{
    float: right;
    font-size: small;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    bottom: 10%;
    font-weight: bold;
    
}
h2{
    margin-left: 30px;
}
#panda{
    margin-top: 3px;
    width: 65px; 
    float: right;
    border-radius: 90%;
}

.background{
    border: 3px solid black;
    background-color: #ED5050;
    height: 100%;
}
#logo{
    border: 3px solid black;
    margin-left: 20px;
}
#brandName{
    margin-left: 25px;
    font-weight: bold;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    font-size: larger;
}
#menu-Bar{
    background-color:#D2D2D2 ;
    height: 55px;
    display: flex;
}

button{
    width: 150px;
    height: 54px;
    font-size: larger;
    font-weight: bold;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    background-color:#D2D2D2 ;
}
#special{
    width: 200px;
    font-size: larger;
    font-weight: bold;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
}
#click{
    float: right;
    border-radius: 5px 0 0 5px;
    border: 2px solid black;
    height: 40px;
    background-color: #ED5050;
    color: white;

}#click1{
    float: right;
    border-radius: 0 5px 5px 0;
    border: 2px solid black;
    height: 40px;
    background-color: #ED5050;
    color: white;
    margin-right: 10px;
}
.container{
    position: relative;
    opacity: 3.5;
    
}

.text_block{
    font-size: 34px;
    color: white;
    position: absolute;
    align-content: center;
    top: 70%;
    left: 30%;
    font: bold;
}
#bg{
    width: 100%;
    height: 570px;
    
    
}
h1{
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: center;
}
p{
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}
#box1{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 33.3%;
}

#opening{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 50%;
}

#box_cont{

    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 50%;
}

#promotion{
    background-color: rgb(196, 28, 196);
    width: 120px;
    color: white;
    font-size: x-large;
    margin-left: -2px;
    height: 30px;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
}
#promotion1{
    background-color:blue;
    width: 100px;
    color: white;
    font-size: x-large;
    margin-left: -2px;
    height: 30px;
}
#promotion2{
    background-color:blue;
    width: 100px;
    color: white;
    font-size: x-large;
    margin-left: -2px;
    margin-top: -35px;
    height: 30px;
}


#product{

width: 230px;
    
}
#product1{

    width: 270px;
} 
#product2{

    width: 250px;
} 
#Hours{
    width: 240px;
    margin-left: 170px;
}

#message{
    margin: 5px 30px;
    height: 40px;
    font-size: larger;
}
#subject{
    margin: 10px 30px;
    width: 550px;
    height: 150px;
    font-size: larger;
}
#send{
    margin-left: 240px;
    color: white;
    background-color: #ED5050;
}


#name{
    font-size: large;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    margin-top: -5px;

}
#opening_H{
    font-size: x-large;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
}
#Contact{

    font-size: xx-large;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
    margin-top: -160px;
    font: bolder;
}
#type{
    font-size: medium;
    float: right;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
}

#caption{
    float: right;
    font-size: medium;
    font-family: 'MilkyNice-Clean', Arial, sans-serif;
}
#cart_b{

    background-color: white;
    float: right;

}
#cart{
    width: 30%;
}
#order{
    background-color: yellow;
    color: black;
    width: 616px;
    height: 50px;

}
