<!-- Footer -->
<br>
<footer class="py-5"style="background-color:#ED5050">
    <div class="container" >
        <p class="m-0 text-center text-white">Copyright &copy; Oredring Pizza online </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>