#image{
    text-align: center;
    position: relative;
    border: 2px solid black;
    height: 800px;
    width: 500px;
    margin-left: 500px;
}
#text{
    position: absolute;
    left: 10%;
}
span{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto Slab';
}
p{
    white-space:pre-wrap;
    font-size: larger;
    font-family: 'Roboto Slab';
    font-size: 22px;
}
h2{
    text-align: center;
    font-family: 'Roboto Slab';
}
body {
    margin-top: 20px;
}
